.pageTitle {
    text-align:center;
    margin:auto;
    margin-top: 20px;
}

.heroddl {
    margin-left:30px;
    margin-top:20px;
}


.skillddl {
    margin-left:30px;
    margin-top:20px;
    margin-bottom: 30px;
}
